body {
  background-color: #271e1d;
}

h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  color: #fff;
  --secondary-color: #c8693a;
  --gray-color: #898082;
  --great-vibes-font: "Great Vibes", cursive;
  --prata-font: "Prata", serif;
  --rubik-font: "Rubik", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.have-question {
  padding: 50px 0;
}

.have-question__inner {
  display: flex;
  max-height: 740px
}


.have-question__title {
  color: var(--secondary-color);
  font-family: var(--great-vibes-font);
  font-size: 28px;
  font-weight: 400;
  line-height: 39px;
}

.have-question__subtitle {
  margin-top: 20px;
  font-family: var(--prata-font);
  font-size: 48px;
  font-weight: 400;
  line-height: 62px;
}

.text-separator {
  margin-top: 20px;
}

.have-question__list {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.have-question__list__item {
  padding: 20px 0;
  border-bottom: 1px solid var(--gray-color);
}

.list__title {
  font-family: var(--prata-font);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}

.list__text {
  color: var(--gray-color);
  font-family: var(--rubik-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 23px;
}

.have-question__item__img {
  display: block;
  height: 100%;
}

/* Features */
.features {
  display: flex;
  align-items: center;
}

.features__item {
  flex: 1;
  margin-left: 25px;
}

.features-title {
  font-family: var(--prata-font);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}

.features-text {
  font-family: var(--rubik-font);
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}